{% extends 'base.html'%}
{%block title%}&nbsp;{%endblock%}
{%block header%}&nbsp;{%endblock%}
{%block content%}
<div class="row">
    <div class="col text-end">
        <a href="{%url 'sys_auth:role_add'%}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg"></i>&nbsp;新增</a>
    </div>
</div><br>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30%">角色代码</th>
            <th width="30%">角色名称</th>
            <th width="30%">法人所属</th>
            <th width="10%" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
    {%if roles%}
    {%for role in roles%}
        <tr>
            <td>{{role.code}}</td>
            <td>{{role.name}}</td>
            <td>{{role.company}}</td>
            <td class="text-end">
                <a href="{%url 'sys_auth:role_edit' role.id%}" class="btn btn-link text-info" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="编辑"><i class="bi bi-pencil-square"></i></a>
                <button class="btn btn-link text-success" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="菜单权限" onclick="get_menus('{{role.name}}', '{{role.id}}')"><i class="bi bi-menu-button"></i></button>
                <button class="btn btn-link text-info" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="用户" onclick="get_users('{{role.name}}', '{{role.id}}')"><i class="bi bi-people"></i></button>
            </td>
        </tr>
    {%endfor%}
    {%else%}
    <tr>
        <td colspan="4" class="text-info text-center">没有数据！</td>
    </tr>
    {%endif%}
    </tbody>
</table>
{%include 'common/paginator.html'%}
{%include './_menus.html'%}
{%include './_users.html'%}
{%endblock%}
{%block scripts%}
    {{block.super}}
    var role_id = ''

    function get_menus(name, id){
        $('#modalTitle').text(name)
        role_id = id
        //alert('Role is : '+role_id)
        $.post('/sys_auth/role/menus/'+id, {}, function(data){
            $('#menus').empty()
                if(data.all_menus.length == 0){
                    $('#menus').append("<li class='list-group-item'>尚未创建菜单！</li>")
                }else{
                    var authed = false
                    for(var i = 0; i < data.all_menus.length; i++){
                        //alert(i + ' menu id : ' + data.all_menus[i][0] + ', authed menus : ' + data.authed_menus)
                        if($.inArray(data.all_menus[i][0], data.authed_menus) >= 0)
                            authed = true
                        else
                            authed = false
                        //alert(authed)
                        if(authed)
                            $('#menus').append(
                                "<li class='list-group-item list-group-item-action'><div class='form-check'>"+
                                "<input class='form-check-input' type='checkbox' value='"+data.all_menus[i][0]+"' id='"+data.all_menus[i][0]+"' checked>"+
                                "<label class='form-check-label' for='"+data.all_menus[i][0]+"'>"+
                                data.all_menus[i][1]+
                                "</label>"+
                                "</div></li>")
                        else
                            $('#menus').append(
                                "<li class='list-group-item list-group-item-action'><div class='form-check'>"+
                                "<input class='form-check-input' type='checkbox' value='"+data.all_menus[i][0]+"' id='"+data.all_menus[i][0]+"'>"+
                                "<label class='form-check-label' for='"+data.all_menus[i][0]+"'>"+
                                data.all_menus[i][1]+
                                "</label>"+
                                "</div></li>")
                    }
                }
                $('#authModal').modal('show')
        }, 'json')
    }
    function get_users(name, id){
        $('#userModalTitle').text(name)
        role_id = id
        //alert('Role is : '+role_id)
        $.post('/sys_auth/role/users/'+id, {}, function(data){
            $('#users').empty()
            if(data.users.length == 0){
                $('#users').append("<li class='list-group-item text-danger'>尚未添加用户！</li>")
            }else{
                for(var i = 0; i < data.users.length; i++)
                    $('#users').append("<li class='list-group-item list-group-item-action'>"+data.users[i]+"</li>")
            }
            $('#userModal').modal('show')
        }, 'json')
    }
    //执行授权
    function do_auth(){
        var menu_ids = []
        $(':checkbox').each(function(){
            if($(this).is(':checked'))
                menu_ids.push($(this).val())
        })
        //alert(menu_ids)
        if(menu_ids.length == 0)
            $.alert({
               type:'red',
               title:'系统提示',
               content: '请选择菜单！',
               onClose:function(){

               }
           })
        else
            $.ajax({
                type:'post',
                url:'/sys_auth/role/auth/'+role_id,
                data:{menu_ids: JSON.stringify(menu_ids)},  //列表需要序列化后传递
                success:function(data){
                    if(data.code == 1)
                        $.alert({
                           type:'green',
                           title:'系统提示',
                           content: data.message,
                           onClose:function(){
                                $('#authModal').modal('hide')
                           }
                       })

                },
                error:function(){
                    $.alert({
                       type:'red',
                       title:'系统提示',
                       content: '系统错误,请联系管理员',
                       onClose:function(){

                       }
                   })
                }
            })
    }
{%endblock%}