{%if components%}
{%for component in components%}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{component.name}}</td>
    <td>{{component.code}}</td>
    <td width="5%">
      <input class="form-check-input" type="checkbox" id="{{component.id}}">
    </td>
</tr>
{%endfor%}
{%else%}
<tr>
    <td colspan="4" class="text-danger text-center">
        没有记录！
    </td>
</tr>
{%endif%}
<input type="hidden" id="total_page" value="{{page.paginator.num_pages}}"/>
<input type="hidden" id="current_page" value="{{page.number}}"/>