<div class="offcanvas offcanvas-end"  data-bs-scroll="true" tabindex="-1" id="components" aria-labelledby="componentsLabel">
<!--<div class="offcanvas-lg offcanvas-end" tabindex="-1" id="components" aria-labelledby="componentsLabel">-->
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="componentsLabel">部品</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div><hr>
  <div class="offcanvas-body">
    <div>
        <input type="text" onkeyup="search_components(event)" class="form-control" id="component_search" placeholder="输入品名或者品号回车进行查询......">
    </div><br>
    <table class="table table-hover table-sm">
      <thead>
          <tr>
              <th width="5%">#</th>
              <th width="45%">品名</th>
              <th width="45%">品号</th>
              <th width="5%">
                  <input class="form-check-input" type="checkbox" id="all">
              </th>
          </tr>
      </thead>
      <tbody id="component_items">
          {%for component in components%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{component.name}}</td>
                <td>{{component.code}}</td>
                <td width="5%">
                  <input class="form-check-input" type="checkbox" id="{{component.code}}">
                </td>
            </tr>
          {%endfor%}
        </tbody>
        <tbody>
            <tr>
                <td colspan="2">
                    <button class="btn btn-link btn-sm" onclick="page(0)" id="previous"><i class="bi bi-chevron-left"></i></button>
                    <button class="btn btn-link btn-sm" onclick="page(1)" id="next"><i class="bi bi-chevron-right"></i></button>
                </td>
                <td colspan="2" class="text-end">
                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="select_components(1)" data-bs-dismiss="offcanvas" data-bs-target="#components">选择</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="offcanvas" onclick="select_components(0)" data-bs-target="#components">关闭</button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
<script>
    var selected = 0    // 是否选择了部品,默认为未选择
    const components = document.getElementById('components')
    components.addEventListener('shown.bs.offcanvas', event => {
        selected = 0
    })
    components.addEventListener('hidden.bs.offcanvas', event => {
        let chosen = false
        $('#component_items').find(':checkbox').each(function(){
            if($(this).prop('checked'))
                chosen = true
        })
        if(selected == 1){
            if(chosen){
                $('#component_items').find(':checkbox').each(function(){
                    if($(this).prop('checked')){
                        // 已选择部品
                        let id = $(this).prop('id')
                        let tr = $(this).parent().parent().children()
                        // 添加已选择的部品
                        let tr_no = $('#items').children().length
                        let ids = []
                        $('#items').children().each(function(){
                            ids.push($(this).prop('id'))
                        })
                        if($.inArray(id, ids) == -1){
                            $('#items').append("<tr id='"+id+"'><td>"+(tr_no+1)+"</td><td>"+$(tr).eq(1).text()+"</td><td>"+$(tr).eq(2).text()+"</td><td class='text-center'><input type='text' class='form-control form-control-sm'></td><td class='text-center'>-</td><td class='text-center'><button onclick='remove_com(this);' class='btn btn-link btn-sm text-danger'><i class='bi bi-trash'></i></button></td></tr>")
                        }
                    }
                })
            }else{
                $.alert({
                   type:'red',
                   title:'系统提示',
                   content: '请选择配件！',
                   onClose:function(){
                       $('#roleModal').modal('hide')
                   }
                })
            }
        }
    })
    function select_components(has_selected){
        selected = has_selected
    }
    function search_components(event){
        if (event.keyCode == 13){
             get_components(1)
        }
    }
    function page(sign){
         // sign 1: 代表下一页，0: 代表上一页
         var to_page = 0
         if(sign == 1)
            to_page = parseInt($('#current_page').val())+1
         else
            to_page = parseInt($('#current_page').val())-1
         get_components(to_page)
    }
    function remove_com(e){
        $(e).parent().parent().remove()
        // 重写序号
        for(let i = 0; i < $('#items').children().length; i++){
            $('#items').children().eq(i).children().eq(0).text(i+1)
        }
    }
</script>