{%if items%}
    {%for item in items%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{item.name}}</td>
            <td>{{item.code}}</td>
            <td>{{item.code}}</td>
            <td>{{item.code}}</td>
            <td>{{item.amount}}</td>
            <td>
                <button class="btn btn-link btn-sm text-danger" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="移除"><i class="bi bi-x-circle"></i></button>
            </td>
        </tr>
    {%endfor%}
{%endif%}