{% extends 'base.html'%}
{%load static%}
{%block title%}&nbsp;{%endblock%}
{%block header%}&nbsp;{%endblock%}
{%block links%}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap-datepicker3.min.css'%}"/>
{%endblock%}
{%block content%}
<div class="row">
    <div class="col">
        <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">BarCode</a>
              </li>
        </ul>
    </div>
</div><br>
<div class="row">
     <div class="col-4">
        <input id="barcode" type="text" class="form-control" placeholder="系统自动生成......" readonly value="{%if barcode%}{{barcode}}{%endif%}">
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">部品明细</a>
              </li>
        </ul>
    </div>
</div><br>
<div class="row">
    <div class="col text-end">
        <a class="btn btn-outline-primary btn-sm" id="add" data-bs-toggle="offcanvas" href="#components" role="button" aria-controls="components">
          <i class="bi bi-plus-lg"></i>&nbsp;添加
        </a>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th width="10%">#</th>
                    <th width="30%">品名</th>
                    <th width="30%">品号</th>
                    <th width="5%" class="text-center">数量</th>
                    <th width="15%" class="text-center">已入库数量</th>
                    <th width="10%" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody id="items">
                {%if items%}
                    {%for item in items%}
                        <tr id="{{item.component.id}}">
                            <td>{{forloop.counter}}</td>
                            <td>{{item.component.name}}</td>
                            <td>{{item.component.code}}</td>
                            <td class="text-center">
                                {#如果已做入库操作，则最小值为已入库数量#}
                                <input type="number" min="{%if item.in_executed%}{{item.amount_in}}{%else%}1{%endif%}" class="form-control form-control-sm" value='{{item.amount}}'></td>
                            <td class="text-center">{{item.amount_in}}</td>
                            <td class="text-center">
                                {#一旦执行过入库，则不能再删除该记录#}
                                <button id="{{item.id}}" onclick='remove_com(this);' class='btn btn-link btn-sm text-danger' {%if item.in_executed%}disabled{%endif%}><i class='bi bi-trash'></i></button>
                            </td>
                        </tr>
                    {%endfor%}
                {%endif%}
            </tbody>
        </table>
    </div>
</div><br>
<div class="row">
    <div class="col text-end">
        <button type="button" class="btn btn-outline-primary" id="save"><i class="bi bi-save"></i>&nbsp;保存</button>&nbsp;&nbsp;
        <a class="btn btn-outline-secondary" href="{%url 'ld_stock:barcodes'%}"><i class="bi bi-arrow-left"></i>&nbsp;返回</a>
    </div>
</div>
{% include './_components_select.html'%}
{%endblock%}
{%block assets%}
{{block.super}}
<script type="text/javascript" src="{%static 'js/bootstrap-datepicker.min.js'%}"></script>
<script type="text/javascript" src="{%static 'js/bootstrap-datepicker.zh-CN.min.js'%}"></script>
{%endblock%}
{%block scripts%}
{{block.super}}
$(function(){
    $('#save').click(function(){
        let components = []
        let ok = true
        $('#items').children().each(function(){
            let no = $(this).find('td:eq(0)').text()    // 行号
            let amount = $(this).find(':input').val()   // 数量
            if(!amount){
                $.alert({
                   type:'red',
                   title:'系统提示',
                   content: '第'+no+'行数量为空!',
                   onClose:function(){}
                })
                ok = false
                return false
            }else{
                if(amount <= 0){
                    $.alert({
                       type:'red',
                       title:'系统提示',
                       content: '第'+no+'行数量要大于0!',
                       onClose:function(){}
                    })
                    ok = false
                    return false
                }
            }
            components.push({id: $(this).prop('id'), amount: $(this).find(':input').val()})
        })
        if(ok){
            if(components.length == 0){
                $.alert({
                   type:'red',
                   title:'系统提示',
                   content: '请选择配件！',
                   onClose:function(){}
                })
            }else{
                /*alert(JSON.stringify(components))*/
                $.post('/ld_stock/stock/barcode/save/execute/', {barcode: $('#barcode').val(),components: JSON.stringify(components)}, function(data){
                    $.alert({
                       type:'green',
                       title:'系统提示',
                       content: 'Barcode成功生成！',
                       onClose:function(){
                           window.location.href = '{%url 'ld_stock:barcodes'%}'
                       }
                    })
                }, 'json')
            }
        }
    })
    // init_date('id_bill_date')
    $('#add').click(function(){
        $('#component_search').val('')
        $('#all').prop('checked', false)
        get_components(1)
    })
    $('#all').click(function(){
        if($(this).is(':checked')){
            $('#component_items').find(':checkbox').each(function(){
                $(this).prop('checked', true)
            })
        }else{
            $('#component_items').find(':checkbox').each(function(){
                $(this).prop('checked', false)
            })
        }
    })
})
function get_components(page){
    var params = {params: JSON.stringify({search_str: $('#component_search').val(), page: page})}
    $.post('/ld_stock/stock/barcode/get_items/', params, function(data){
        $('#component_items').html(data)
        var total_page = parseInt($('#total_page').val())
        var current_page = parseInt($('#current_page').val())
        if(total_page == current_page)
            $('#next').prop('disabled', true)
        else
            $('#next').prop('disabled', false)
        if(current_page == 1)
            $('#previous').prop('disabled', true)
        else
            $('#previous').prop('disabled', false)
    }, 'html')
}
function init_date(id){
    $('#'+id).datepicker({
        weekStart: 1,
        autoclose: true,
        todayBtn: "linked", // 点击可以回到今天
        daysOfWeekHighlighted: "0,6",
        format: "yyyy-mm-dd",
        forceParse: false,
        language: "zh-CN",
        todayHighlight: true
    }).datepicker("setDate",'now')
}
{%endblock%}