{% extends 'base.html'%}
{%load static%}
{%block title%}&nbsp;{%endblock%}
{%block header%}&nbsp;{%endblock%}
{%block links%}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap-datepicker3.min.css'%}"/>
{%endblock%}
{%block content%}
<div class="row">
    <div class="col">
        <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">BarCode</a>
              </li>
        </ul>
    </div>
</div><br>
<div class="row">
     <div class="col-4">
        <input type="text" class="form-control" placeholder="系统自动生成......">
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">部品明细</a>
              </li>
        </ul>
    </div>
</div><br>
<div class="row">
    <div class="col text-end">
        <a class="btn btn-outline-primary btn-sm" id="add" data-bs-toggle="offcanvas" href="#components" role="button" aria-controls="components">
          <i class="bi bi-plus-lg"></i>&nbsp;添加
        </a>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th width="10%">#</th>
                    <th width="30%">品名</th>
                    <th width="30%">品号</th>
                    <th width="5%" class="text-center">数量</th>
                    <th width="15%" class="text-center">已入库数量</th>
                    <th width="10%" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody id="items"></tbody>
        </table>
    </div>
</div><br>
<div class="row">
    <div class="col text-end">
        <button type="button" class="btn btn-outline-primary" id="save"><i class="bi bi-save"></i>&nbsp;保存</button>&nbsp;&nbsp;
        <a class="btn btn-outline-secondary" href="{%url 'ld_stock:barcodes'%}"><i class="bi bi-arrow-left"></i>&nbsp;返回</a>
    </div>
</div>
{% include './_components_select.html'%}
{%endblock%}
{%block assets%}
{{block.super}}
<script type="text/javascript" src="{%static 'js/bootstrap-datepicker.min.js'%}"></script>
<script type="text/javascript" src="{%static 'js/bootstrap-datepicker.zh-CN.min.js'%}"></script>
{%endblock%}
{%block scripts%}
{{block.super}}
$(function(){
    $('#save').click(function(){
        let components = []
        $('#items').children().each(function(){
            components.push({id: $(this).prop('id'), amount: $(this).find(':input').val()})
        })
        if(components.length == 0){
            $.alert({
               type:'red',
               title:'系统提示',
               content: '请选择配件！',
               onClose:function(){
                   $('#roleModal').modal('hide')
               }
            })
        }else{
            //alert(JSON.stringify(components))
            $.post('/ld_stock/stock/barcode/add/execute/', {components: JSON.stringify(components)}, function(data){
                $.alert({
                   type:'green',
                   title:'系统提示',
                   content: 'Barcode成功生成！',
                   onClose:function(){
                       window.location.href = '{%url 'ld_stock:barcodes'%}'
                   }
                })
            }, 'json')
        }
    })
    // init_date('id_bill_date')
    $('#add').click(function(){
        $('#component_search').val('')
        $('#all').prop('checked', false)
        get_components(1)
    })
    $('#all').click(function(){
        if($(this).is(':checked')){
            $('#component_items').find(':checkbox').each(function(){
                $(this).prop('checked', true)
            })
        }else{
            $('#component_items').find(':checkbox').each(function(){
                $(this).prop('checked', false)
            })
        }
    })
})
function get_components(page){
    var params = {params: JSON.stringify({search_str: $('#component_search').val(), page: page})}
    $.post('/ld_stock/stock/barcode/get_items/', params, function(data){
        $('#component_items').html(data)
        var total_page = parseInt($('#total_page').val())
        var current_page = parseInt($('#current_page').val())
        if(total_page == current_page)
            $('#next').prop('disabled', true)
        else
            $('#next').prop('disabled', false)
        if(current_page == 1)
            $('#previous').prop('disabled', true)
        else
            $('#previous').prop('disabled', false)
    }, 'html')
}
function init_date(id){
    $('#'+id).datepicker({
        weekStart: 1,
        autoclose: true,
        todayBtn: "linked", // 点击可以回到今天
        daysOfWeekHighlighted: "0,6",
        format: "yyyy-mm-dd",
        forceParse: false,
        language: "zh-CN",
        todayHighlight: true
    }).datepicker("setDate",'now')
}
{%endblock%}