{% extends 'base.html'%}
{%block title%}&nbsp;{%endblock%}
{%block header%}&nbsp;{%endblock%}
{%block content%}
<div class="row">
    <div class="col text-end">
        <a href="{%url 'ld_stock:stock_barcode_add'%}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg"></i>&nbsp;新增</a>
    </div>
</div><br>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="18%">工厂</th>
            <th width="18%">BARCODE号</th>
            <th width="18%">入库完成</th>
            <th width="18%">创建人员</th>
            <th width="18%">创建日期</th>
            <th width="10%" class="text-end">Action</th>
        </tr>
    </thead>
    <tbody>
    {%if bars%}
    {%for bar in bars%}
        <tr>
            <td>{{bar.facility}}</td>
            <td>{{bar.code}}</td>
            <td>{%if bar.in_finished%}<span class="text-success">Y</span>{%else%}<span class="text-danger">N</span>{%endif%}</td>
            <td>{{bar.created_name}}</td>
            <td>{{bar.created_on}}</td>
            <td class="text-end">
                <a href="{%url 'ld_stock:stock_barcode_edit' bar.id%}" class="btn btn-link text-info" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="编辑"><i class="bi bi-pencil-square"></i></a>
            </td>
        </tr>
    {%endfor%}
    {%else%}
    <tr>
        <td colspan="5" class="text-info text-center">没有数据！</td>
    </tr>
    {%endif%}
    </tbody>
</table>
{%include 'common/paginator.html'%}
{%endblock%}