{% extends 'base.html'%}
{%block title%}系统登录{%endblock%}
{%block header%}&nbsp;{%endblock%}
{%block content%}
<div class="row">
    <div class="col-md-4 offset-md-4 text-center">
        <form action="{%url 'sys_sign:login'%}" method="post">
            {% csrf_token %}
<!--            <input type="hidden" name="next" value="{{next}}">-->
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
              <input type="text" class="form-control" name="username" id="username" placeholder="User name ...">
              <label for="username">User Name</label>
            </div><br>
            <div class="form-floating">
              <input type="password" class="form-control" name="password" id="password" placeholder="Password ...">
              <label for="password">Password</label>
            </div><br>
            <div class="form-floating">
              {%if login_message%}<small class="text-danger"><i class="bi bi-exclamation-triangle"></i>&nbsp;&nbsp;{{login_message}}</small>{%endif%}
            </div><br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </div>
</div>
{%endblock%}
{%block scripts%}
    {{block.super}}
    $(function(){
        //alert('{%url 'sys_sign:json'%}')
        //$.post('/sys_sign/json/', function(data){
            //alert(data.items)
            //alert(data.status)
            //alert(data.message)
        //}, 'json')
    })
{%endblock%}