{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/jquery-confirm.min.css'%}">
<script type="text/javascript" src="{%static 'js/jquery-3.6.1.min.js'%}"></script>
<script type="text/javascript" src="{%static 'js/jquery-confirm.min.js'%}"></script>
<script>
$(function(){
    $.alert({
       type:'red',
       title:'系统提示',
       content: '登录超时或当前用户密码已重置，请重新登录系统！！！',
       onClose:function(){
          window.top.location = '{%url 'sys_sign:login'%}'
       }
    })
})
</script>