{% extends 'base.html'%}
{%block title%}登录提醒{%endblock%}
{%block header%}&nbsp;{%endblock%}
{%block content%}
<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="text-danger">未登录或登录已超时,请重新登录!</h1>
        <button onclick="login()" class="btn btn-link text-success fs-3"><i class="bi bi-box-arrow-in-right"></i>&nbsp;登录</button>
    </div>
</div>
{%endblock%}
{%block scripts%}
    {{block.super}}
    function login(){
        window.top.location = '{%url 'sys_sign:login'%}'
    }
{%endblock%}