<!-- Modal -->
<div class="modal fade" id="roleModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="roleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">用户授权</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row align-items-center justify-content-center">
              <div class="col-5">
                  <label for="for_select">待授权角色</label>
                  <select id="for_select" class="form-select" multiple></select>
              </div>
              <div class="col-2">
                  <br>
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-secondary" onclick="do_move(1)"><i class="bi bi-arrow-right"></i></button>
                    <button type="button" class="btn btn-outline-secondary" onclick="do_move(0)"><i class="bi bi-arrow-left"></i></button>
                  </div>
              </div>
              <div class="col-5">
                  <label for="selected">已授权角色</label>
                  <select id="selected" class="form-select" multiple></select>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="do_save()">保存</button>
      </div>
    </div>
  </div>
</div>