<nav class="navbar" style="background-color: cornflowerblue;">
  <div class="container-fluid">
    <a class="navbar-brand"><i class="bi bi-house-gear"></i>&nbsp;&nbsp;MES</a>
    <input  type="text" id="f_code" placeholder="FUNCTION CODE">
    <span class="navbar-text">
    <div class="dropdown-center">
        <span>{{request.session.username}}({{request.session.role_name}})</span>
        <button type="button" class="btn  dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person"></i>
        </button>
        <ul class="dropdown-menu">
          <li class="text-center"><a class="dropdown-item" href="{%url 'sys_sign:logout'%}">Logout&nbsp;&nbsp;<i class="bi bi-box-arrow-right"></i></a></li>
<!--          <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--          <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--          <li><hr class="dropdown-divider"></li>-->
<!--          <li><a class="dropdown-item" href="#">Separated link</a></li>-->
        </ul>
      </div>
    </span>
  </div>
</nav>