{% extends 'base.html'%}
{%block title%}&nbsp;{%endblock%}
{%block header%}&nbsp;{%endblock%}
{%block content%}
<div class="row">
    <div class="col">
        <small><i class="bi bi-chevron-down" id="recent" data-dir="1" style="cursor:pointer"></i>&nbsp;&nbsp;最近使用({{recent_used_menus|length}})</small>
    </div>
</div>
<hr>
<div class="row" id="recent_m">
    {%if recent_used_menus%}
        {%for menu in recent_used_menus%}
            <div class="col-1" style="padding:10px;">
                <div class="card text-center">
                  <div class="card-body">
                     <button class="btn btn-link text-secondary"  onclick="window.parent.add_tab('{{menu.id}}', '{{menu.name}}', '{%url menu.url%}')">
                      <span style="font-size:3rem;"><i class="{{menu.icon}}"></i></span><br>
                      <small>{{menu.name}}</small>
                     </button>
                  </div>
                </div>
            </div>
        {%endfor%}
    {%endif%}
</div><br>
<div class="row">
    <div class="col">
        <small><i class="bi bi-chevron-up" id="all" data-dir="0" style="cursor:pointer"></i>&nbsp;&nbsp;全部({{all_menus|length}})</small>
    </div>
</div>
<hr>
<div class="row" id="all_m">
    {%if all_menus%}
        {%for menu in all_menus%}
            <div class="col-1" style="padding:10px;">
                <div class="card text-center">
                  <div class="card-body">
                     <button class="btn btn-link text-secondary"  onclick="window.parent.add_tab('{{menu.id}}', '{{menu.name}}', '{%url menu.url%}')">
                      <span style="font-size:3rem;"><i class="{{menu.icon}}"></i></span><br>
                      <small>{{menu.name}}</small>
                     </button>
                  </div>
                </div>
            </div>
        {%endfor%}
    {%endif%}
</div>
{%endblock%}
{%block scripts%}
    {{block.super}}
    $(function(){
        $('#all_m').hide()
        $('#recent').click(function(){
            //alert('recent')
            show_hide_funcs('recent', 'recent_m')
        })
        $('#all').click(function(){
            //alert('all'+$(this).data('dir'))
            show_hide_funcs('all', 'all_m')
        })
    })
    //显示隐藏功能项，id1:按钮ID; id2:功能项所有row ID
    function show_hide_funcs(id1, id2){
        if($('#'+id1).data('dir') == '0'){
            $('#'+id1).data('dir', '1')
            $('#'+id1).removeClass('bi-chevron-up')
            $('#'+id1).addClass('bi-chevron-down')
            $('#'+id2).show()
        }else{
            $('#'+id1).data('dir', '0')
            $('#'+id1).removeClass('bi-chevron-down')
            $('#'+id1).addClass('bi-chevron-up')
            $('#'+id2).hide()
        }
    }
{%endblock%}