{% extends 'base.html'%}
{%block title%}MES系统{%endblock%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>MES System</h1>
            <button class="btn btn-primary" id="test">Ajax Test</button>
        </div>
    </div>
</div>
{%endblock%}
{%block scripts%}
    {{block.super}}
    //alert('ok')
    $(function(){
        //alert('{%url 'sys_sign:json'%}')
        $('#test').click(function(){
            alert('test')
            $.post('/sys_sign/json/', function(data){
                alert(data.items)
                //alert(data.status)
                //alert(data.message)
            }, 'json')
        })
    })

{%endblock%}