<nav aria-label="Page navigation example">
  <span class="navbar-text">共计{{ items.paginator.num_pages }}页,当前第{{ items.number }}页;共计{{ items.paginator.count }}条!</span>
  <ul class="pagination justify-content-end">
    {% if items.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">Previous</a></li>
    {%else%}
      <li class="page-item"><a class="page-link disabled" href="#">&laquo; First</a></li>
      <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
    {% endif %}
    </li>
    {% if items.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ items.paginator.num_pages }}">last &raquo;</a></li>
    {%else%}
      <li class="page-item"><a class="page-link disabled" href="#">next</a></li>
      <li class="page-item"><a class="page-link disabled" href="#">last &raquo;</a></li>
    {% endif %}
  </ul>
</nav>