{% extends 'base.html'%}
{%block title%}&nbsp;{%endblock%}
{%block header%}&nbsp;{%endblock%}
{%block content%}
<div class="row">
    <div class="col text-end">
        <a href="{%url 'pp_master:modelcode_add'%}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg"></i>&nbsp;新增</a>
    </div>
</div><br>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="5%">工厂</th>
            <th width="5%">机种</th>
            <th width="5%">机型</th>
            <th width="5%">代表式样</th>
            <th width="5%">CUP</th>
            <th width="5%">铭牌机种名</th>
            <th width="13%">设备类型</th>
            <th width="8%">机种重量(SAP)</th>
            <th width="8%">机种重量(铭牌)</th>
            <th width="10%">内销/出口</th>
            <th width="6%">发动机品号</th>
            <th width="5%" class="text-center">断种与否</th>
            <th width="15%">备注</th>
            <th width="5%" class="text-end">Action</th>
        </tr>
    </thead>
    <tbody>
    {%if modelcodes%}
    {%for modelcode in modelcodes%}
        <tr>
            <td>{{modelcode.facility}}</td>
            <td>{{modelcode.machine_code.code}}</td>
            <td>{{modelcode.machine_code.model_mes}}</td>
            <td>{{modelcode.code}}</td>
            <td>{{modelcode.cup}}</td>
            <td>{{modelcode.brand_code}}</td>
            <td>{{modelcode.machine_type}}</td>
            <td>{{modelcode.weight_sap}}</td>
            <td>{{modelcode.weight_brand}}</td>
            <td>{{modelcode.sale_type}}</td>
            <td>{{modelcode.engine_no}}</td>
            <td class="text-center text-success">{%if modelcode.product%}<i class="bi bi-check-lg"></i>{%else%}&nbsp;{%endif%}</td>
            <td>{{modelcode.remark}}</td>
            <td class="text-end">
                <a href="{%url 'pp_master:modelcode_edit' modelcode.id%}" class="btn btn-link text-info" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="编辑"><i class="bi bi-pencil-square"></i></a>
            </td>
        </tr>
    {%endfor%}
    {%else%}
    <tr>
        <td colspan="14" class="text-info text-center">没有数据！</td>
    </tr>
    {%endif%}
    </tbody>
</table>
{%include 'common/paginator.html'%}
{%endblock%}