<!-- 雇员选择窗体 -->
<div class="modal fade" id="employeeModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="employeeModalTitle">选择雇员</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <table class="table">
              <tbody>
                <tr>
                    <td>
                        <div class="input-group">
                            <input type="text" onkeyup="search_employees(event)" id="p_employee" class="form-control" placeholder="雇员姓名(输入后回车或点击按钮查询即可)">
                            <button onclick="get_employees()" class="input-group-text"><i class="bi bi-search"></i></button>
                        </div>
                        <ul class="list-group" id="employees"></ul>
                    </td>
                </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
<script>
    var e_id = ''           //要设置雇员id的element
    var e_code = ''         //要设置雇员职号的element
    var e_name = ''         //要设置雇员姓名的element
    var e_all = ''          //要设置雇员职号&姓名的element
    var e_email = ''        //要设置雇员邮箱的element

    function search_employees(event){
        if (event.keyCode == 13){
             get_employees()
        }
    }
    function get_employees(){
        $.post('/org_emp/employee/search/', {name: $.trim($('#p_employee').val())}, function(data){
            $('#employees').html(data)
        }, 'html')
    }
    function set_employee(e){
        //alert($(e).data('code')+':'+$(e).data('name'))
        if(e_id != '')
            $('#'+e_id).val($(e).attr('id')).change()
        if(e_code != '')
            $('#'+e_code).val($(e).data('code'))
        if(e_name != '')
            $('#'+e_name).val($(e).data('name'))
        if(e_email != '')
            $('#'+e_email).val($(e).data('email'))
        if(e_all != '')
            $('#'+e_all).val($(e).text())
        $('#employeeModal').modal('hide')
    }
</script>