{% extends 'base.html'%}
{%block title%}&nbsp;{%endblock%}
{%block header%}&nbsp;{%endblock%}
{%block content%}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.id}}
    <div class="row">
        <div class="col-6">
            {{form.code.label_tag}}
            {{form.code}}
            {%if form.code.errors%}
                {%for error in form.code.errors%}
                <small class="text-danger"><i class="bi bi-exclamation-circle"></i>&nbsp;{{error|escape}}</small>
                {%endfor%}
            {%endif%}
        </div>
        <div class="col-6">
            {{form.name.label_tag}}
            {{form.name}}
            {%if form.name.errors%}
                {%for error in form.name.errors%}
                <small class="text-danger"><i class="bi bi-exclamation-circle"></i>&nbsp;{{error|escape}}</small>
                {%endfor%}
            {%endif%}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            {{form.email.label_tag}}
            {{form.email}}
            {%if form.email.errors%}
                {%for error in form.email.errors%}
                <small class="text-danger"><i class="bi bi-exclamation-circle"></i>&nbsp;{{error|escape}}</small>
                {%endfor%}
            {%endif%}
        </div>
        <div class="col-6">
            {{form.phone.label_tag}}
            {{form.phone}}
            {%if form.phone.errors%}
                {%for error in form.phone.errors%}
                <small class="text-danger"><i class="bi bi-exclamation-circle"></i>&nbsp;{{error|escape}}</small>
                {%endfor%}
            {%endif%}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            {{form.company.label_tag}}
            {{form.company}}
            {%if form.company.errors%}
                {%for error in form.company.errors%}
                <small class="text-danger"><i class="bi bi-exclamation-circle"></i>&nbsp;{{error|escape}}</small>
                {%endfor%}
            {%endif%}
        </div>
        <div class="col-6">
            {{form.department.label_tag}}
            {{form.department}}
            {%if form.department.errors%}
                {%for error in form.department.errors%}
                <small class="text-danger"><i class="bi bi-exclamation-circle"></i>&nbsp;{{error|escape}}</small>
                {%endfor%}
            {%endif%}
        </div>
    </div><br>
    <div class="row">
        <div class="col-6">
            {%if employee and employee.photo_path%}
            <img src="/org_emp/{{employee.photo_path}}" class="rounded" width="200" height="200"><br>
            {%endif%}
            {{form.photo.label_tag}}
            {{form.photo}}
            {%if form.photo.errors%}
                {%for error in form.photo.errors%}
                <small class="text-danger"><i class="bi bi-exclamation-circle"></i>&nbsp;{{error|escape}}</small>
                {%endfor%}
            {%endif%}
        </div>
    </div><br>
    <div class="row">
        <div class="col text-end">
            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i>&nbsp;保存</button>&nbsp;&nbsp;
            <a class="btn btn-outline-secondary" href="{%url 'org_emp:index'%}"><i class="bi bi-arrow-left"></i>&nbsp;返回</a>
        </div>
    </div>
</form>
{%endblock%}
{%block scripts%}
{{block.super}}
$(function(){
    $('#id_company').change(function(){
        var id = $(this).val()
        $.post('/org_com/company/department/'+id, {}, function(data){
            $('#id_department').html(data)
        }, 'html')
    })
})
{%endblock%}