{% extends 'base.html'%}
{%block title%}&nbsp;{%endblock%}
{%block header%}&nbsp;{%endblock%}
{%block content%}
<div class="row">
    <div class="col text-end">
        <a href="{%url 'org_emp:add'%}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg"></i>&nbsp;新增</a>
    </div>
</div><br>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="15%">职号</th>
            <th width="10%">姓名</th>
            <th width="20%">邮箱</th>
            <th width="20%">部门</th>
            <th width="20%">法人</th>
            <th width="5%">状态</th>
            <th width="10%" class="text-end">Action</th>
        </tr>
    </thead>
    <tbody>
    {%if employees%}
    {%for employee in employees%}
        <tr>
            <td>{{employee.code}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.department.company}}</td>
            <td>{%if employee.active%}<span class="text-success">在职</span>{%else%}<span class="text-danger">离职</span>{%endif%}</td>
            <td class="text-end">
                <a href="{%url 'org_emp:edit' employee.id%}" class="btn btn-link text-info" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="编辑"><i class="bi bi-pencil-square"></i></a>
            </td>
        </tr>
    {%endfor%}
    {%else%}
    <tr>
        <td colspan="7" class="text-info text-center">没有数据！</td>
    </tr>
    {%endif%}
    </tbody>
</table>
{%include 'common/paginator.html'%}
{%endblock%}