<!-- Modal -->
<div class="modal fade" id="employeesModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">&nbsp;</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <button class="btn btn-outline-primary btn-sm" onclick="add_employee()"><i class="bi bi-plus-lg"></i>&nbsp;&nbsp;添加</button><br><br>
          <ul class="list-group" id="employee_list"></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>