{%if items%}
    {%for item in items%}
        <tr>
            <td class="text-center">{{forloop.counter}}</td>
            <td>{{item.component.name}}</td>
            <td>{{item.component.code}}</td>
            <td class="text-center">
                <select class="form-select form-select-sm">
                    <option value="0">---------请选择---------</option>
                    {%for warehouse in warehouses%}
                    <option value="{{warehouse.id}}">{{warehouse.name}}[{{warehouse.code}}]</option>
                    {%endfor%}
                </select>
            </td>
            <td class="text-center"><select class="form-select form-select-sm"><option value="0">---------请选择---------</option></select></td>
            <td class="text-center">{{item.amount}}</td>
            <td class="text-center">
                <button class="btn btn-link btn-sm text-danger" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="移除"><i class='bi bi-trash'></i></button>
            </td>
        </tr>
    {%endfor%}
{%endif%}