<!-- Barcode choose Modal -->
<div class="modal fade" id="bar_code_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="bar_code_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="bar_code_modal_label">Barcode选择</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="components_for_stock"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i>&nbsp;&nbsp;关闭</button>
        <button type="button" class="btn btn-outline-primary" onclick="select()"><i class="bi bi-check2"></i>&nbsp;&nbsp;选择</button>
      </div>
    </div>
  </div>
</div>
<script>
    const barcode_modal = document.getElementById('bar_code_modal')
    let selected = false
    barcode_modal.addEventListener('show.bs.modal', event => {
        selected = false
        $.post('/ld_stock/stock/io/get_io_select_items/{{stock_type}}/', function(data){
          $('#components_for_stock').html(data)
        }, 'html')
    })
    /*barcode_modal.addEventListener('hide.bs.modal', event => {
        if(selected){
            alert('Barcode selected, modal is going to be Closed! Add components !')
        }else{
            alert('Barcode selected, modal is going to be Closed! Do nothing!')
        }
    })*/
    function set_select(){
      selected = false
      $('#components_for_stock').find(':checkbox').each(function(){
          if($(this).prop('checked'))
            selected = true
      })
    }
    function select(){
      if(selected){
        barcode_ids = []
        $('#components_for_stock').find(':checkbox').each(function(){
          if($(this).prop('checked'))
            barcode_ids.push($(this).val())
        })
        // alert(JSON.stringify(barcode_ids))
        var params = {params: JSON.stringify({search_str: '000', page: 1})}
        $.post('/ld_stock/stock/io/set_selected_items/', {barcode_ids: JSON.stringify(barcode_ids)}, function(data){
            $('#items').html(data)
        }, 'html')
        $('#bar_code_modal').modal('hide')
      }else{
        $.alert({
           type:'red',
           title:'系统提示',
           content: '请选择Barcode！',
           onClose:function(){

           }
        })
      }
    }
</script>