{% extends 'base.html'%}
{%load static%}
{%block title%}&nbsp;{%endblock%}
{%block header%}&nbsp;{%endblock%}
{%block links%}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap-datepicker3.min.css'%}"/>
{%endblock%}
{%block content%}
<form method="post">
    {% csrf_token %}
    {{form.id}}
    {{form.facility}}
    {{form.items}}
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">主单据</a>
                  </li>
            </ul>
        </div>
    </div><br>
    <div class="row">
         <div class="col-6">
            {{form.bill_no.label_tag}}
            {{form.bill_no}}
            {%if form.bill_no.errors%}
                {%for error in form.bill_no.errors%}
                <small class="text-danger"><i class="bi bi-exclamation-circle"></i>&nbsp;{{error|escape}}</small>
                {%endfor%}
            {%endif%}
        </div>
        <div class="col-6">
            <label for="id_in_out_type">{%if stock_type is 1%}入库{%else%}出库{%endif%}类型:</label>
            {{form.in_out_type}}
            {%if form.in_out_type.errors%}
                {%for error in form.in_out_type.errors%}
                <small class="text-danger"><i class="bi bi-exclamation-circle"></i>&nbsp;{{error|escape}}</small>
                {%endfor%}
            {%endif%}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-1">
            <label for="id_bill_date">{%if stock_type is 1%}入库{%else%}出库{%endif%}日期:</label>
            {{form.bill_date}}
            {%if form.bill_date.errors%}
                {%for error in form.bill_date.errors%}
                <small class="text-danger"><i class="bi bi-exclamation-circle"></i>&nbsp;{{error|escape}}</small>
                {%endfor%}
            {%endif%}
        </div>
    </div><br>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">{%if stock_type is 1%}入库{%else%}出库{%endif%}明细</a>
                  </li>
            </ul>
        </div>
    </div><br>
    <div class="row">
        <div class="col text-end">
            {%if stock_type is 1%}
            <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#bar_code_modal" type="button"><i class="bi bi-upc-scan"></i></button>
            {%else%}
            <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#parts_modal" type="button"><i class="bi bi-gear"></i></button>
            {%endif%}
        </div>
    </div><br>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="5%" class="text-center">#</th>
                        <th width="25%">品名</th>
                        <th width="25%">品号</th>
                        <th width="15%" class="text-center">仓库</th>
                        <th width="15%" class="text-center">库位</th>
                        <th width="10%" class="text-center">{%if stock_type is 1%}入库{%else%}出库{%endif%}数量</th>
                        <th width="5%" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="items"></tbody>
            </table>
        </div>
    </div><br>
    <div class="row">
        <div class="col text-end">
            <button type="button" onclick="do_submit()" class="btn btn-outline-primary"><i class="bi bi-save"></i>&nbsp;保存</button>&nbsp;&nbsp;
            <a class="btn btn-outline-secondary" href="/ld_stock/stock/index?bill_type={{stock_type}}"><i class="bi bi-arrow-left"></i>&nbsp;返回</a>
        </div>
    </div>
</form>
{%include './_items_select.html'%}
{%include './_parts_select.html'%}
{%endblock%}
{%block assets%}
{{block.super}}
<script type="text/javascript" src="{%static 'js/bootstrap-datepicker.min.js'%}"></script>
<script type="text/javascript" src="{%static 'js/bootstrap-datepicker.zh-CN.min.js'%}"></script>
{%endblock%}
{%block scripts%}
{{block.super}}
$(function(){
    init_date('id_bill_date')
})
function init_date(id){
    $('#'+id).datepicker({
        weekStart: 1,
        autoclose: true,
        todayBtn: "linked", // 点击可以回到今天
        daysOfWeekHighlighted: "0,6",
        format: "yyyy-mm-dd",
        forceParse: false,
        language: "zh-CN",
        todayHighlight: true
    }).datepicker("setDate",'now')
}
function reset_locations(e){
    let warehouse_id = $(e).val()
    let id = $(e).prop('id')
<!--    alert('Warehouse id is : ' + warehouse_id)-->
<!--    alert('Component id is : ' + $(e).prop('id'))-->
    $.post('/pp_master/warehouse/get_locations/'+warehouse_id+'/', function(data){
        $('#'+id.replace('wh', 'lc')).html(data)
    }, 'html')
}
function remove_com(e){
    $(e).parent().parent().remove()
    // 重写序号
    for(let i = 0; i < $('#items').children().length; i++){
        $('#items').children().eq(i).children().eq(0).text(i+1)
    }
}
function do_submit(){
    // alert('Do submit!')
    if(!$('#id_in_out_type').val()){
        $.alert({
           type:'red',
           title:'系统提示',
           content: '请选择出入库类型！',
           onClose:function(){

           }
        })
    }else{
        if($('#items').children().length == 0){
            $.alert({
               type:'red',
               title:'系统提示',
               content: '部品明细为空！',
               onClose:function(){

               }
            })
        }else{
            let component_ids = [], barcode_items = [], warehouses = [], locations = [], amounts = []
            for(let i = 0; i < $('#items').children().length; i++){
                component_ids.push($('#items').children().eq(i).prop('id'))
                barcode_items.push($('#items').children().eq(i).children().eq(0).prop('id'))
                warehouses.push($('#items').children().eq(i).find('select:eq(0)').val())
                locations.push($('#items').children().eq(i).find('select:eq(1)').val())
                amounts.push($('#items').children().eq(i).children().eq(5).text())
            }
            if($.inArray('0', warehouses) >= 0){
                $.alert({
                   type:'red',
                   title:'系统提示',
                   content: '请选择仓库！',
                   onClose:function(){

                   }
                })
            }else if($.inArray('0', locations) >= 0){
                $.alert({
                   type:'red',
                   title:'系统提示',
                   content: '请选择库位！',
                   onClose:function(){

                   }
                })
            }else{
                $('#id_items').val(JSON.stringify([component_ids, barcode_items, warehouses, locations, amounts]))
                $('form').submit()
            }
        }
    }
}
{%endblock%}