{% extends 'base.html'%}
{%block title%}&nbsp;{%endblock%}
{%block header%}&nbsp;{%endblock%}
{%block content%}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {%if bill_type_code is 1%}active{%endif%}" href="/ld_stock/stock/index?bill_type=1">入库单</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {%if bill_type_code is 2%}active{%endif%}" href="/ld_stock/stock/index?bill_type=2">出库单</a>
  </li>
</ul><br>
<div class="row">
    <div class="col text-end">
        <a href="{%url 'ld_stock:stock_add' bill_type_code%}" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg"></i>&nbsp;新增</a>
    </div>
</div><br>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="20%">工厂</th>
            <th width="20%">{%if bill_type_code is 1%}入库{%else%}出库{%endif%}单号</th>
            <th width="20%">{%if bill_type_code is 1%}入库{%else%}出库{%endif%}类型</th>
            <th width="20%">{%if bill_type_code is 1%}入库{%else%}出库{%endif%}日期</th>
            <th width="20%">{%if bill_type_code is 1%}入库{%else%}出库{%endif%}人员</th>
            <th width="10%" class="text-end">Action</th>
        </tr>
    </thead>
    <tbody>
    {%if bills%}
    {%for bill in bills%}
        <tr>
            <td>{{bill.facility}}</td>
            <td>{{bill.bill_no}}</td>
            <td>{{bill.in_out_type}}</td>
            <td>{{bill.bill_date}}</td>
            <td>{{bill.created_name}}</td>
            <td class="text-end">
                <a href="{%url 'ld_stock:stock_edit' bill.id%}" class="btn btn-link text-info" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="编辑"><i class="bi bi-pencil-square"></i></a>
            </td>
        </tr>
    {%endfor%}
    {%else%}
    <tr>
        <td colspan="6" class="text-info text-center">没有数据！</td>
    </tr>
    {%endif%}
    </tbody>
</table>
{%include 'common/paginator.html'%}
{%endblock%}