{% extends 'base.html'%}
{%block title%}&nbsp;{%endblock%}
{%block header%}&nbsp;{%endblock%}
{%block content%}
<form method="post">
    {% csrf_token %}
    {{form.id}}
    <div class="row">
        <div class="col-6">
            {{form.code.label_tag}}
            {{form.code}}
            {%if form.code.errors%}
                {%for error in form.code.errors%}
                <small class="text-danger"><i class="bi bi-exclamation-circle"></i>&nbsp;{{error|escape}}</small>
                {%endfor%}
            {%endif%}
        </div>
        <div class="col-6">
            {{form.name.label_tag}}
            {{form.name}}
            {%if form.name.errors%}
                {%for error in form.name.errors%}
                <small class="text-danger"><i class="bi bi-exclamation-circle"></i>&nbsp;{{error|escape}}</small>
                {%endfor%}
            {%endif%}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col text-end">
            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i>&nbsp;保存</button>&nbsp;&nbsp;
            <a class="btn btn-outline-secondary" href="{%url 'org_com:index'%}"><i class="bi bi-arrow-left"></i>&nbsp;返回</a>
        </div>
    </div>
</form>
{%endblock%}